<!DOCTYPE html>
<html>

<head>
    <title>ES6</title>
</head>

<body>
    <p>es6</p>
    <p>es5</p>
    <p>es3</p>
</body>

 <script  src="/js/index.js" charset="utf-8"></script>
 <script src="http://localhost:35729/livereload.js?snipver=1" async="" defer=""></script>
</html>